.navbar-nav{
    margin-left: 25% !important;
}

.navbar{
    font-family: 'PT Sans', sans-serif;
    height: 10%;
    font-size: 20px !important;
    color: rgba(0, 0, 252, 0.87) !important;
    background-color: rgb(8, 58, 197) !important;
}

a:hover{
    color: cadetblue !important;
}

.d-flex{
    margin-top: 3%;
    margin-left: 53%;
}

@media (max-width: 991px)
{
    .navbar-nav{
        margin: 0px;
        text-align: left;
        padding-bottom: 10px;
        
    }
    
    .navbar{
        height: 20% !important;
    }

    .container-fluid{
        display: none;
    }

}