<div class = "container">


    <div class="mb-3">
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Título">
    </div>
    <div class="mb-3">
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Subtítulo">
    </div>
    <div class="mb-3">
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Autor">
    </div>
    <div class="mb-3">
        <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Digite seu texto" rows="3"></textarea>
    </div>
    <button type="button" class="btn btn-primary btn-sm">Enviar</button>
</div>