
.container{
    margin-top: 7%;
    width: 90%;
}

.breadcrumb{ 
    padding-left: 26%;
    background-color: white;
    font-family: 'Mochiy Pop P One', sans-serif !important;

}

.form-control{
    
    font-family: 'Oswald', sans-serif !important;
}

.form-control{
    border: 0px !important;
    border-bottom: 2px solid #777 !important;
}

.form-control:hover {
    border: 0px;
    border-bottom: 1px solid black;
    background-color: rgba(192, 192, 192, 0) !important;
}

.form-control:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

.btn{
    border-radius: 5px;
    width: 10%;
    margin-right: 10px;
    font-family: 'Oswald', sans-serif !important;
}

label{
    font-family: 'Mochiy Pop P One', sans-serif !important;
}

.h1-post{
    font-family: 'Mochiy Pop P One', sans-serif !important;
    font-size: 50px !important;
    text-align: center !important;
    margin-top: 3%;
    padding: 10px;
    width: 40%;
    margin-left: 30%;
}

@media (max-width: 560px)
{
    .container{
        width: 100%;
        padding: 0px;
        margin: 10% 0px 0% 2% !important;
    }


    .breadcrumb{ 
        padding-left: 26%;
        background-color: white;
        font-family: 'Mochiy Pop P One', sans-serif !important;
    
    }
    
    .form-control{
        
        font-family: 'Oswald', sans-serif !important;
    }
    
    .btn{
        border-radius: 5px;
        width: 30%;
        margin-right: 10px;
        font-family: 'Oswald', sans-serif !important;
    }
    
    label{
        font-family: 'Mochiy Pop P One', sans-serif !important;
    }
    
    .h1-post{
        font-family: 'Mochiy Pop P One', sans-serif !important;
        font-size: 50px !important;
        text-align: center !important;
        margin-top: 3%;
        padding: 10px;
        width: 40%;
        margin-left: 30%;
    }
}


@media (max-width: 991px)
{

    .container{
        width: 100%;
        padding: 0px;
        margin-top: 15% !important;
    }


    .breadcrumb{ 
        padding-left: 26%;
        background-color: white;
        font-family: 'Mochiy Pop P One', sans-serif !important;
    
    }
    
    .form-control{
        font-family: 'Oswald', sans-serif !important;
    }
    
    .btn{
        border-radius: 5px;
        width: 30%;
        margin-right: 10px;
        font-family: 'Oswald', sans-serif !important;
    }
    
    label{
        font-family: 'Mochiy Pop P One', sans-serif !important;
    }
    
    .h1-post{
        font-family: 'Mochiy Pop P One', sans-serif !important;
        font-size: 50px !important;
        text-align: center !important;
        margin-top: 3%;
        padding: 10px;
        width: 40%;
        margin-left: 30%;
    }
}